
<div class="container" style="padding: 25px;">
   
    <a class="btn btn-primary border shadow" data-toggle="tooltip" data-bs-tooltip="" data-bs-hover-animate="pulse" type="button" title="add ptojects" style="margin: 12px;background-color: #72A1E5;width: 50px;height: 50px;font-family: Raleway, sans-serif;font-size: 37px; border-radius: 50%; padding-top:-20px" href="/add/project"><p style="padding-top: -20px"> + </p></a>

    <div class="row row-cols-3 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3" style="padding: 25px 0;">
        <div class="col-4">
            <% project.forEach(pro => { %>
                <div class="card border rounded shadow" data-toggle="tooltip" data-bs-tooltip="" data-bs-hover-animate="bounce" style="background-color: #72A1E5;font-family: Raleway, sans-serif;font-size: 18px;margin: 10px 0;"
                    title="<%=pro.title%>">
                   <div class="card-body">
                        <h5 class="card-title"> <%= pro.name %> </h5>
                        <h6 class="card-subtitle mb-2 text-muted"> <big> <%= pro.completeValue %>% </big> complete </h6>
                        <p class="card-text"> <%= pro.description %> </p>
                        <a href="/specific/<%= pro.id%>" class="card-link" style="color:#fff"> View Tasks </a>  <a href="/delete/<%= pro.id%>" class="card-link" style="color:#fff"> Delete Project </a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>
